<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>809348621769-oia1cttk53ms3oul27k3u7cncpj4gvis.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809348621769-oia1cttk53ms3oul27k3u7cncpj4gvis</string>
	<key>API_KEY</key>
	<string>AIzaSyDj2X907xEfl5J9Ntm0WmqnUjo9j3IlbsE</string>
	<key>GCM_SENDER_ID</key>
	<string>809348621769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bb.chatBot</string>
	<key>PROJECT_ID</key>
	<string>chatbot-f330f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbot-f330f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:809348621769:ios:3f1e0c6e501328bc</string>
	<key>DATABASE_URL</key>
	<string>https://chatbot-f330f.firebaseio.com</string>
</dict>
</plist>